In [12]:
# declaring variable in python without errors 
firstname  = "Harikrishna"
print(firstname)

Harikrishna

In [13]:
name1 = "Vijay"
print(name1)

Vijay

In [14]:
#-----> this is a comment line

In [ ]:
# declaring string using quotes

In [15]:
name1 = 'harikrishna'
print(name)

vijay

In [16]:
first_name = "Sam"
print(first_name)

Sam

In [17]:
fullname = """Rock"""
print(fullname)

Rock

In [18]:
# data types

In [ ]:
1 . String
2 . list 
3 . tuple 
4 . dictinaries 
5 . number integer and floats(decimals)